{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="container">
    <div class="text-center mt-5 " style="background-color: burlywood;">

        <h1 class="display-4">Welcome to MyDuka</h1>

        <p class="lead mt-3">
            your smart solution for managing sales, stock, and business growth with ease.
        </p>

        <hr class="my-4">

        <p>Technology meets simplicity to power your business success.</p>

        <div class="mt-4">
            <a href="/" class="btn btn-primary m-2">Home</a>
            <a href="/products" class="btn btn-success m-2">Products</a>
            <a href="/login" class="btn btn-warning m-2">Login</a>
            <a href="/register" class="btn btn-dark m-2">Register</a>
        </div>

    </div>
</div>

{% endblock %}