{% extends 'base.html' %}
{% block title %} Sales {% endblock %}

{% block content %}

<h2 class="mt-4">Make Sale</h2>

<form method="POST">

    <label>Select Product:</label><br>
    <select name="product_id">
        {% for product in products %}
        <option value="{{ product[0] }}">
            {{ product[1] }} (Stock: {{ product[4] }})
        </option>
        {% endfor %}
    </select><br><br>

    <label>Quantity:</label><br>
    <input type="number" name="quantity"><br><br>

    <button type="submit">Sell</button>
</form>

{% endblock %}