{% extends 'base.html' %}
{% block title %} Stock {% endblock %}

{% block content %}

{% for stock in stock_data %}

<p>{{stock}}</p>

{% endfor %}


<h2 class="mt-4">Stock Overview</h2>
<div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Stock
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add stock</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/add_stock">
                        <div class="mb-3">
                            <select class="form-select" name="p_id" aria-label="Default select example">
                                <option selected>select</option>
                                {% for product in products %}
                                <option value="{{ product[0] }}">{{ product[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Stock_quantity</label>
                            <input type="number" name="s_quantity" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add stock</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Product ID</th>
        <th>Stock_quantity</th>
        <th>Timestamp</th>

    </tr>

    {% for item in stock %}
    <tr>
        <td>{{ item[0] }}</td>
        <td>{{ item[1] }}</td>
        <td>{{ item[2] }}</td>
        <td>{{ item[3] }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}